rigger:
  branches:
    include:
    - refs/heads/master
variables:
  BaseURL: 'http://192.168.122.191:7585'
  USERNAME: 'haris'
  PASSWORD: 'Ab123'
jobs:
- job: TP10_Automation
  displayName: TP10 Automated Sanity Testing
  pool:
    name: Default
  steps:
  - checkout: self
    clean: true
    fetchTags: false
  - task: PowerShell@2
    displayName: Set Environment Variables
    inputs:
      targetType: 'inline'
      script: |
        $env:USERNAME = "$(USERNAME)"
        $env:PASSWORD = "$(PASSWORD)"
        $env:BaseURL = "$(BaseURL)"
  - task: Npm@1
    displayName: Run e2e Sanity Tests
    inputs:
      command: custom
      verbose: false
      customCommand: run e2e
  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**/my-test-output-*.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)/results'