trigger:
  branches:
    include:
    - refs/heads/master
jobs:
- job: Job_1
  displayName: TP10 Api Tests
  pool:
    name: Default
  steps:
  - checkout: self
    clean: true
    fetchTags: false
  - task: Npm@1
    displayName: Install Packages and dependencies
    inputs:
      verbose: false
  - task: Npm@1
    displayName: Run API Tests
    inputs:
      command: custom
      verbose: false
      customCommand: run apitests
  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**/my-test-output*.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)/LIO-FX-TP10/results'
...
