trigger:
  branches:
    include:
    - refs/heads/master

jobs:
- job: Job_1
  displayName: TP10 e2e Testing
  pool:
    name: Default
  variables:
    USERNAME: 'haris'
    PASSWORD: 'Ab123'
    BaseURL: 'http://192.168.122.191:7585'
  steps:
  - checkout: self
    clean: true
    fetchTags: false
  - task: Npm@1
    displayName: Install Packages and dependencies
    inputs:
      verbose: false
  - task: Npm@1
    displayName: Run e2e Tests
    inputs:
      command: custom
      verbose: false
      customCommand: |
        set USERNAME=$(USERNAME) && set PASSWORD=$(PASSWORD) && set BaseURL=$(BaseURL) && run e2e
  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**/my-test-output-*.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)/results'
