trigger:
  branches:
    include:
    - refs/heads/master

jobs:
- job: Job_1
  displayName: TP10 Api Tests
  pool:
    name: Default
  variables:
    username: 'haris'
    password: 'Ab123'
  steps:
  - checkout: self
    clean: true
    fetchTags: false
  - task: Npm@1
    displayName: Install Packages and dependencies
    inputs:
      verbose: false
  - script: |
      export USERNAME=$username
      export PASSWORD=$password
  - task: Npm@1
    displayName: Run API Tests
    inputs:
      command: custom
      verbose: false
      customCommand: run apitests
  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**/my-test-output-*.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)/results'
